.carousel {
  margin: 0px 10px;
}

.carousel-div {
  display: flex;
  flex-wrap: wrap;
  /* padding-left: 10px; */
}

@media screen and (max-width: 800px) {
  .carousel-div {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-top: 40px;
  }
}

@media screen and (max-width: 360px) {
  .carousel-div {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-top: 40px;
  }
}
