.main-tracks {
  background-color: #181818;
  width: 83%;
  position: absolute;
  left: 17%;
  padding-bottom: 100px;
  margin-top: 70px;
  display: flex;
  color: white;
  margin-bottom: 100px;
}

.main-tracks__img img {
  margin-left: 50px;
  margin-top: 50px;
  object-fit: cover;
  object-position: center center;
}
.main-tracks__img h1 {
  text-align: center;
  margin-left: 45px;
}

.track {
  cursor: pointer;
}

.list-tracks {
  width: 100%;
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .main-tracks {
    width: 100%;
    display: block;
    left: 0;
  }
  .main-tracks__img h1 {
    text-align: center;
    margin-left: 0;
  }
}

@media screen and (max-width: 450px) {
  .main-tracks {
    width: 100%;
    display: block;
    left: 0;
  }
  .main-tracks__img h1 {
    text-align: center;
    margin-left: 0;
  }
  .main-tracks__img img {
    margin-left: 60px;
  }
}

@media screen and (max-width: 360px) {
  .main-tracks {
    width: 100%;
    display: block;
    left: 0;
  }
  .main-tracks__img h1 {
    text-align: center;
    margin-left: 0;
  }
}
