body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* @media screen and (max-width: 800px) {
  .btn_b {
    margin-left: 600px;
    margin-top: 5px;
  }
  .arrow {
    transform: rotate(-45deg);
  }
  .arrow1 {
    transform: rotate(135deg);
    top: 8px;
  }
}
@media screen and (max-width: 600px) {
  .btn_b {
    margin-left: 300px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 450px) {
  .btn_b {
    margin-left: 200px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 360px) {
  .btn_b {
    margin-left: 200px;
    margin-top: 5px;
  }
  .arrow {
    transform: rotate(-45deg);
  }
  .arrow1 {
    transform: rotate(135deg);
    top: 8px;
  }
} */
